
<html>
<head>
    {% block id %}
    {% endblock %}
    {% block title %}
	<title>快钱CMDB Admin - 设备添加</title>
    {% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/static/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome.css" />
    <link href="/static/css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/compiled/new-user.css" type="text/css" media="screen" />

    <!-- open sans font -->

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="brand" href="/user/index"><img src="/static/img/logo.png" /></a>

            <ul class="nav pull-right">                
                <li class="hidden-phone">
                    <input class="search" type="text" />
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-warning-sign"></i>
                        <span class="count">8</span>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="notifications">
                                <h3>You have 6 new notifications</h3>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 18 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-envelope-alt"></i> New message from Alejandra
                                    <span class="time"><i class="icon-time"></i> 28 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 49 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-download-alt"></i> New order placed
                                    <span class="time"><i class="icon-time"></i> 1 day.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all notifications</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-envelope-alt"></i>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="messages">
                                <a href="#" class="item">
                                    <img src="/static/img/contact-img.png" class="display" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <img src="/static/img/contact-img2.png" class="display" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 26 min.</span>
                                </a>
                                <a href="#" class="item last">
                                    <img src="/static/img/contact-img.png" class="display" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 48 min.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all messages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        {{ user }}'s account
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="personal-info.html">Personal info</a></li>
                        <li><a href="#">Account settings</a></li>
                        <li><a href="#">Billing</a></li>
                        <li><a href="#">Export your data</a></li>
                        <li><a href="#">Send feedback</a></li>
                    </ul>
                </li>
                <li class="settings hidden-phone">
                    <a href="personal-info.html" role="button">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="settings hidden-phone">
                    <a href="/user/logout" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>            
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="/user/index">
                    <i class="icon-home"></i>
                    <span>主页</span>
                </a>
            </li>
{#            <li>#}
{#                <a href="chart-showcase.html">#}
{#                    <i class="icon-signal"></i>#}
{#                    <span>图表</span>#}
{#                </a>#}
{#            </li>#}
           <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>用户</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu" style="margin-left: 20px">
                    <li><a href="/user/UserList">用户管理</a></li>
{#                    <li><a href="/user/PermissionList">权限管理</a></li>#}
                    <li><a href="/user/UserGroup">用户组管理</a></li>
                </ul>
            </li>
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <i class="icon-edit"></i>
                    <span>资产列表</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu" style="margin-left: 20px">
                    <li><a href="/user/DataroomList">机房资产</a></li>
                    <li><a href="/user/CabinetList">机柜资产</a></li>
                    <li><a href="/user/DeviceList">设备资产</a></li>
                </ul>
            </li>
{#            <li>#}
{#                <a href="gallery.html">#}
{#                    <i class="icon-picture"></i>#}
{#                    <span>视图</span>#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="/user/OperLog">
                    <i class="icon-calendar-empty"></i>
                    <span>操作日志</span>
                </a>
            </li>
{#            <li>#}
{#                <a href="tables.html">#}
{#                    <i class="icon-th-large"></i>#}
{#                    <span>列表</span>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a class="dropdown-toggle ui-elements" href="#">#}
{#                    <i class="icon-code-fork"></i>#}
{#                    <span>UI Elements</span>#}
{#                    <i class="icon-chevron-down"></i>#}
{#                </a>#}
{#                <ul class="submenu">#}
{#                    <li><a href="ui-elements.html">UI Elements</a></li>#}
{#                    <li><a href="icons.html">Icons</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="personal-info.html">#}
{#                    <i class="icon-cog"></i>#}
{#                    <span>My Info</span>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a class="dropdown-toggle" href="#">#}
{#                    <i class="icon-share-alt"></i>#}
{#                    <span>Extras</span>#}
{#                    <i class="icon-chevron-down"></i>#}
{#                </a>#}
{#                <ul class="submenu">#}
{#                    <li><a href="code-editor.html">Code editor</a></li>#}
{#                    <li><a href="grids.html">Grids</a></li>#}
{#                    <li><a href="signin.html">Sign in</a></li>#}
{#                    <li><a href="signup.html">Sign up</a></li>#}
{#                </ul>#}
{#            </li>#}
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">
        
        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="/static/css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>
        
        <div class="container-fluid">
            <!-- upper main stats -->
            <div id="main-stats">
                        <div class="row-fluid stats-row">
                            <div class="span3 stat">
                                <div class="data">
                                    <span class="number">{{ totalserver }}</span>
                                    服务器
                                </div>
                                <span class="date">台</span>
                            </div>
                            <div class="span3 stat">
                                <div class="data">
                                    <span class="number">{{ totalsec }}</span>
                                    安全设备
                                </div>
                                <span class="date">台</span>
                            </div>
                            <div class="span3 stat">
                                <div class="data">
                                    <span class="number">{{ totalnet }}</span>
                                    网络设备
                                </div>
                                <span class="date">台</span>
                            </div>
                            <div class="span3 stat last">
                                <div class="data">
                                    <span class="number">{{ totaldevices }}</span>
                                    总资产
                                </div>
                                <span class="date">台</span>
                            </div>
                        </div>
                    </div>
            <!-- end upper main stats -->
            {% block pad-wrapper %}
             <div id="pad-wrapper" class="new-user" style="margin-top: 10px;">
                <div class="row-fluid header">
                    <h3 style="font-style: italic">添加设备</h3>
                </div>

                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span9 with-sidebar">
                        <div class="container">
                            <form class="new_user_form inline-input" method="post"/>

                                <div class="span12 field-box">
                                    <label>设备SN号:</label>
                                    <input class="span4" type="text" name="sn" required/>*
                                </div>

                                <div class="span12 field-box">
                                    <label>资产编号:</label>
                                    <input class="span4" type="text" name="Psn"/>
                                </div>


                                <div class="span4 field-box">
                                    <label>所属机房:</label>
                                    <div class="ui-select span4">
                                        <select id="dataroomselect" name="Dataroom_list">
                                            <option value="">请选择机房</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="span4 field-box">
                                    <label>所属机柜:</label>
                                    <div class="ui-select span4">
                                        <select id="cabinetselect" name="Cabinet_list">
                                            <option value="">请选择机柜</option>
                                        </select>
                                    </div>
                                </div>

{#                                <div class="span4 field-box">#}
{#                                    <label>所属机房:</label>#}
{#                                    <div class="ui-select span4">#}
{#                                        <p>{{ obj.Dataroom_list }}</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            #}
{#                                 <div class="span4 field-box">#}
{#                                    <label>机柜号:</label>#}
{#                                    <div class="ui-select span4">#}
{#                                        <p>{{ cabinetselect.Cabinet_list }}</p>#}
{#                                    </div>#}
{#                                </div>#}

                                <div class="span3 field-box">
                                    <label>设备位置（U）:</label>
                                    <input class="span2" type="text" name="deviceMap" required/>(U)*
                                </div>
                                <div class="span2 field-box">
                                    <label>设备占位（U）:</label>
                                    <input class="span2" type="number" name="deviceSize" required/>(U)*
                                </div>

                                <div class="span12 field-box">
                                    <label>设备类型:</label>
                                    <div class="ui-select span5">
                                        <p>{{ obj.device_type }}</p>
                                    </div>
                                </div>
                                <div class="span12 field-box">
                                    <label>设备品牌:</label>
                                    <input class="span9" type="text" name="company"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>设备型号:</label>
                                    <input class="span9" type="text" name="model"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>管理IP:</label>
                                    <input class="span9" type="text" name="adminIP"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>业务IP:</label>
                                    <input class="span9" type="text" name="produceIP"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>上联设备SN:</label>
                                    <input class="span9" type="text" name="uplinkdev"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>下联设备SN:</label>
                                    <input class="span9" type="text" name="downlinkdev"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>设备使用人:</label>
                                    <input class="span9" type="text" name="deviceUser"/>
                                </div>
                                <div class="span5 field-box">
                                    <label>过保时间:</label>
                                    <input class="input-large datepicker" type="text" name="OutMaintain" required/>*
                                </div>
                                <div class="span5 field-box">
                                    <label>更新时间:</label>
                                    <input class="input-large datepicker" type="text" name="updatetime" required/>*
                                </div>

                                <div class="span12 field-box textarea">
                                    <label>设备描述:</label>
                                    <textarea class="span9" name="descripotion"></textarea>
                                    <span class="charactersleft">剩余90个字符。 字段限制为100个字符</span>
                                </div>
                                <div class="span11 field-box actions">
                                    <input type="submit" class="btn-glow primary" value="添加设备" />
                                    <span>OR</span>
                                    <a class="reset" href="/user/DeviceList">取消</a>
                                </div>
                            </form>

                        </div>
                    </div>
                     <!-- side right column -->

                    <div class="span3 form-sidebar pull-right">
                        <div class="btn-group toggle-inputs hidden-tablet">
                            <button class="glow left active" data-input="inline">INLINE 输入</button>
                            <button class="glow right" data-input="normal">NORMAL 输入</button>
                        </div>
                        <div class="alert alert-info hidden-tablet">
                            <i class="icon-lightbulb pull-left"></i>点击上方可查看表单上内联和正常输入的区别
                        </div>
                        <h6>补充说明文字</h6>
                        <p>一次添加多个设备</p>
                        <p>选择以下文件类型之一:</p>
                        <ul>
{#                            <li><a>从CSV文件导入</a></li>#}
                            <li><a href="/user/DevicesAdd">从Excel文件导入</a></li>
{#                            <form method="post">#}
{#                                <input class="span8" type="file" name="list"/>#}
{#                                <input type="submit"  value="上传" />#}
{#                            </form>#}

                        </ul>
                    </div>

                </div>
            </div>
            {% endblock %}



        </div>
        {% block log %}{% endblock %}
    </div>

    <!-- end main container -->


	<!-- scripts -->
    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>
{#    <script src="/static/js/bootstrap.datepicker.js"></script>#}
    <!-- scripts for this page -->
    <script src="/static/js/wysihtml5-0.3.0.js"></script>
    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="/static/js/bootstrap.datepicker.js"></script>
    <script src="/static/js/jquery.uniform.min.js"></script>
    <script src="/static/js/select2.min.js"></script>

    <!-- call this page plugins -->
    <script type="text/javascript">
        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // select2 plugin for select elements
            $(".select2").select2({
                placeholder: "Select a State"
            });

            // datepicker plugin
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            // wysihtml5 plugin on textarea
            $(".wysihtml5").wysihtml5({
                "font-styles": false
            });
        });
    </script>

    <script type="text/javascript">
        {{ alert.script }}('{{ alert.wrong }}')
    </script>

    <script type="text/javascript">
        $(function () {

            // toggle form between inline and normal inputs
            var $buttons = $(".toggle-inputs button");
            var $form = $("form.new_user_form");

            $buttons.click(function () {
                var mode = $(this).data("input");
                $buttons.removeClass("active");
                $(this).addClass("active");

                if (mode === "inline") {
                    $form.addClass("inline-input");
                } else {
                    $form.removeClass("inline-input");
                }
            });
        });
    </script>



}
    {% block js %}
  <script>
        $(function () {
            //获取所有机房
            $.get('/user/dataroomselect', function (dic) {
                pro = $('#dataroomselect');
                $.each(dic.data, function (index, item) {
                    pro.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                })
                });
            //获取所选机柜
            $('#dataroomselect').change(function () {
                $.get('/user/cabinetselect' + $(this).val(), function (dict) {
                    city = $('#cabinetselect');
                    city.empty().append('<option value="">请选择机柜</option>');
                    $.each(dict.data, function (index, item) {
                        city.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                    })
                });
            });


            })
    </script>
    {% endblock %}



</body>
</html>